.main-content {
  background-color: #ffffff;
  height: 100vh;
}

.footer-content {
  margin-bottom: 0;
  overflow: hidden;
}
.max-width {
  width: 100vmax;
}

.img-size {
  width: 50%;
  height: auto;
}

.non-xscroll {
  overflow-x: hidden;
}
